// html
// body
// #app
// .application--wrap
//   width 100%
//   position absolute
//   height 100%
//   overflow-x hidden
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  .application--wrap
    // display flex
    // flex-direction column
    padding-bottom 50px;
    .v-content
      // width 100%
      -webkit-overflow-scrolling touch;
      // flex 1;
    .v-item-group.v-bottom-nav
      bottom 56px

  .v-carousel
    .v-carousel__prev
      .v-icon
        font-size 2rem !important
    .v-carousel__next
      .v-icon
        font-size 2rem !important
    .v-carousel__controls
      height 1rem
      background none
      bottom .3rem
      .v-btn--icon.v-btn--small
        width 1rem
        height 1rem
        margin-left .2rem !important
        margin-right .2rem !important
      .v-icon
        font-size .64rem !important
        // position absolute